<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />

			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://sergiobelli81-db.cqn7nmriqthm.us-west-2.rds.amazonaws.com:3306/gecred" />
				<property name="username" value="sergiobelli81" />
				<property name="password" value="!18Ser07gio81" />
			</dataSource>

		</environment>
	</environments>
	
	<mappers>
		<mapper resource="net/sergiobelli/gecred/business/service/orm/GCUserMapper.xml" />
	</mappers>
	
</configuration>